<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>EduHome-Blogs</title>
</head>
<body>
<main layout:fragment="~{Content}">
    <!-- Banner Area Start -->
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Blog Start -->
    <div class="blog-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" th:each="blog:${blogs}">
                            <div class="single-blog mb-60">
                                <div class="blog-img">
                                    <a th:href="@{/blog/details}"><img th:src="'img/blog/'+${blog.getImage()}" alt="blog"></a>
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-top">
                                        <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                                    </div>
                                    <div class="blog-bottom">
                                        <h2><a th:href="@{/course/details}" th:text="${blog.getTitle()}"></a></h2>
                                        <a th:href="@{/blog/details}">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-sidebar right">
                        <div class="single-blog-widget mb-50">
                            <h3>search</h3>
                            <div class="blog-search">
                                <form id="search" action="#">
                                    <input type="search" placeholder="Search..." name="search" />
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="single-blog-widget mb-50">
                            <h3>categories</h3>
                            <ul>
                                <li><a th:href="@{/course/details}">CSS Engineering (10)</a></li>
                                <li><a th:href="@{/course/details}">Political Science (12)</a></li>
                                <li><a th:href="@{/course/details}">Micro Biology (08)</a></li>
                                <li><a th:href="@{/course/details}">HTML5 &amp; CSS3 (15)</a></li>
                                <li><a th:href="@{/course/details}">Web Design (20)</a></li>
                                <li><a th:href="@{/course/details}">PHP (23)</a></li>
                            </ul>
                        </div>
                        <div class="single-blog-widget mb-50">
                            <div class="single-blog-banner">
                                <a th:href="@{/blog/details}" id="blog"><img th:src="@{img/blog/blog-img.jpg}" alt="blog"></a>
                                <h2>best<br> eductaion<br> theme</h2>
                            </div>
                        </div>
                        <div class="single-blog-widget mb-50">
                            <h3>latest post</h3>
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a th:href="@{/blog/details}"><img th:src="@{img/post/post1.jpg}" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a th:href="@{/blog/details}">English Language Course for you</a></h4>
                                    <p>By Alex  /  June 20, 2017</p>
                                </div>
                            </div>
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a th:href="@{/blog/details}"><img th:src="@{img/post/post2.jpg}" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a th:href="@{/blog/details}">Advance Web Design and Develop</a></h4>
                                    <p>By Alex  /  June 20, 2017</p>
                                </div>
                            </div>
                            <div class="single-post">
                                <div class="single-post-img">
                                    <a th:href="@{/blog/details}"><img th:src="@{img/post/post3.jpg}" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a th:href="@{/blog/details}">English Language Course for you</a></h4>
                                    <p>By Alex  /  June 20, 2017</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-widget">
                            <h3>tags</h3>
                            <div class="single-tag">
                                <a th:href="@{/blog/details}" class="mr-10 mb-10">course</a>
                                <a th:href="@{/blog/details}" class="mr-10 mb-10">education</a>
                                <a th:href="@{/blog/details}" class="mb-10">teachers</a>
                                <a th:href="@{/blog/details}" class="mr-10">learning</a>
                                <a th:href="@{/blog/details}" class="mr-10">university</a>
                                <a th:href="@{/blog/details}">events</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
</main>
</body>
</html>